<h1>Enter players</h1>

<form action="/board" method="post">
  <div class="form-group">
    <label for="player1">Player 1</label>
    <input type="text" class="form-control" name="player1">
  </div>
  <div class="form-group">
    <label for="player2">Player 2</label>
    <input type="text" class="form-control" name="player2">
  </div>

  <button type="submit" class="btn btn-default">Start</button>
</form>
